---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
        {% endif %}
      {% endfor %}
      
    </div>
</header>


    <div align="center" img src="https://pbs.twimg.com/media/CJARK5wUEAAg-o8.jpg" width="180" height="180" alt="카세트"  hspace="10" vspace="10"><br>
    <img src="https://pbs.twimg.com/media/CJARK5yUwAAPod_.jpg" width="180" height="180" alt="선생님" hspace="10" vspace="10">
    <a href="aboutcm"><img src="https://pbs.twimg.com/media/CJARK5wUEAAg-o8.jpg" width="180" height="180" alt="카세트" hspace="10" vspace="10"><a/>
    <a href="samanda"><img src="http://img4.uploadhouse.com/fileuploads/21268/2126819474fed5d2c9a1aedbd19cbe73c1660406.jpeg" width="180" height="180" alt="사만다" hspace="10" vspace="10" border="0"><a/><br>
   
    <a href="Delvin"><img src="https://pbs.twimg.com/media/CJARPo4UwAAA4XV.jpg" width="180" height="180" alt="델빈" hspace="10" vspace="10"><a/>
    <a href="Claude"><img src="https://pbs.twimg.com/media/CJARevDUkAAR-vX.png" width="180" height="180" alt="클로드" hspace="10" vspace="10"><a/>
    <a href="Olivia"><img src="https://pbs.twimg.com/media/CJARPr1UMAAJL0F.jpg" width="180" height="180" alt="올리비아" hspace="10" vspace="10"><a/>
    <a href="Wendy"><img src="https://pbs.twimg.com/media/CJARPr1UMAEPUKQ.jpg" width="180" height="180" alt="웬디" hspace="10" vspace="10"><br><a/>
    
    <a href="Ryan"><img src="https://pbs.twimg.com/media/CJARVfhUEAAQxLi.jpg" width="180" height="180" alt="라이언" hspace="10" vspace="10"><a/>
    <a href="Nick"><img src="https://pbs.twimg.com/media/CJARWE0UYAEJijI.png" width="180" height="180" alt="니콜라스" hspace="10" vspace="10"><a/>
    <a href="Lindsay"><img src="https://pbs.twimg.com/media/CJARV55UwAIEqSn.png" width="180" height="180" alt="린제이" hspace="10" vspace="10"><a/>
    <a href="Bessie"><img src="https://pbs.twimg.com/media/CJARV_GUcAEOw_m.png" width="180" height="180" alt="베시" hspace="10" vspace="10"><br><a/>
    
    <a href="Valerian"><img src="https://pbs.twimg.com/media/CJARaq0UAAA3IXW.jpg" width="180" height="180" alt="발레리안" hspace="10" vspace="10"><a/>
    <a href="Peter"><img src="https://pbs.twimg.com/media/CJARa14UEAA6bkg.png" width="180" height="180" alt="너드1" hspace="10" vspace="10"><a/>
    <a href="Deborah"><img src="https://pbs.twimg.com/media/CJARa4pUYAI1kAl.png" width="180" height="180" alt="데보라" hspace="10" vspace="10"><a/>
    <a href="Justine"><img src="https://pbs.twimg.com/media/CJARaqwUYAAr4gZ.jpg" img alt="저스틴" width="180" height="180" alt="저스틴" hspace="10" vspace="10"><a/>


    
    

    <nav class="pagination" role="navigation">
      {% if paginator.next_page %}
        <a class="newer-posts" href="/page{{paginator.next_page}}">&larr; Older posts</a>
      {% endif %}
      <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="older-posts" href="/">Newer posts &rarr;</a>
        {% else %}
          <a class="older-posts" href="/page{{paginator.previous_page}}">Newer posts &rarr;</a>
        {% endif %}
      {% endif %}
    </nav>


    <!-- {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}} -->

</main>
