---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
        {% endif %}
      {% endfor %}
      
    </div>
</header>


    <img src="https://pbs.twimg.com/media/CJARK5wUEAAg-o8.jpg" width="180" height="180" alt="카세트" hspace="20" vspace="20">
    <img src="https://pbs.twimg.com/media/CJARK5yUwAAPod_.jpg" width="180" height="180" alt="선생님">
    <img src="http://img4.uploadhouse.com/fileuploads/21268/2126819474fed5d2c9a1aedbd19cbe73c1660406.jpeg" width="180" height="180" alt="사만다">
    
    <img src="https://pbs.twimg.com/media/CJANL6dUMAAv24B.jpg" width="180" height="180" alt="브루넬">
    <img src="https://pbs.twimg.com/media/CJARPo4UwAAA4XV.jpg" width="180" height="180" alt="카시어스">
    <img src="https://pbs.twimg.com/media/CJARevDUkAAR-vX.png" width="180" height="180" alt="음">
    <img src="https://pbs.twimg.com/media/CJARPr1UMAAJL0F.jpg" width="180" height="180" alt="올리비아">
    <img src="https://pbs.twimg.com/media/CJARPr1UMAEPUKQ.jpg" width="180" height="180" alt="웬디">
    
    <img src="https://pbs.twimg.com/media/CJARVfhUEAAQxLi.jpg" width="180" height="180" alt="라이언">
    <img src="https://pbs.twimg.com/media/CJARWE0UYAEJijI.png" width="180" height="180" alt="니콜라스">
    <img src="https://pbs.twimg.com/media/CJARV55UwAIEqSn.png" width="180" height="180" alt="린제이">
    <img src="https://pbs.twimg.com/media/CJARV_GUcAEOw_m.png" width="180" height="180" alt="베시">
    
    <img src="https://pbs.twimg.com/media/CJARaq0UAAA3IXW.jpg" width="180" height="180" alt="발레리안">
    <img src="https://pbs.twimg.com/media/CJARa14UEAA6bkg.png" width="180" height="180" alt="너드1">
    <img src="https://pbs.twimg.com/media/CJARa4pUYAI1kAl.png" width="180" height="180" alt="데보라">
    <img src="https://pbs.twimg.com/media/CJARaqwUYAAr4gZ.jpg" width="180" height="180" alt="저스틴">


    
    

    <nav class="pagination" role="navigation">
      {% if paginator.next_page %}
        <a class="newer-posts" href="/page{{paginator.next_page}}">&larr; Older posts</a>
      {% endif %}
      <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="older-posts" href="/">Newer posts &rarr;</a>
        {% else %}
          <a class="older-posts" href="/page{{paginator.previous_page}}">Newer posts &rarr;</a>
        {% endif %}
      {% endif %}
    </nav>


    <!-- {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}} -->

</main>
